Package: linux-image-styx
Source: linux-meta-styx
Version: 1.5
Architecture: amd64
Maintainer: Tu Nombre <tu@email.com>
Installed-Size: 7
Depends: linux-image-6.12.32-10-styx
Section: metapackages
Priority: optional
Description: Metapaquete para instalar el kernel Linux Styx
