Package: linux-image-styx
Source: linux-meta-styx
Version: 1.0
Architecture: amd64
Maintainer: Tu Nombre <tu@email.com>
Installed-Size: 7
Depends: linux-image-6.12.32-5-styx
Section: metapackages
Priority: optional
Description: Metapaquete para instalar el kernel Linux Styx
 Este metapaquete siempre depende de la versión 6.12.32-5-styx del kernel Linux.
