Source: linux-meta-styx
Section: metapackages
Priority: optional
Maintainer: Tu Nombre <tu@email.com>
Standards-Version: 4.5.0

Package: linux-image-styx
Architecture: amd64
Depends: linux-image-6.12.32-9-styx
Description: Metapaquete para instalar el kernel Linux Styx

Package: linux-headers-styx
Architecture: amd64
Depends: linux-headers-6.12.32-9-styx
Description: Metapaquete para instalar los headers del kernel Linux Styx

